.icon-bar {
    background: #ffffff;
    
}

.navbar {
    margin-bottom: 0;
    border-radius:0;
    background: #5E4485;
    color: #FFFFFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}
.navbar-brand {
    position: relative;
    top: -18px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background: #5E4485;
    
}
.navbar-inverse .navbar-nav li:first-child {
    color: #d5d5d5;
}
.navbar-inverse .navbar-nav li a {
color: #d5d5d5;
    
}

.carousel-caption {
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
}

.btn {
    font-size: 18px;
    color: #FFFFFF;
    padding: 12px 22px;
    background: #5E4485;
    border-radius: 4px;
    border: 2px solid #FFFFFF;
}
.icon {
    max-width: 200px;
    margin: 1% auto;
}
.container {
    margin: 4% auto;
}

.heading-bootstrap{
    font-size: 18px;
}

.bootstrap-txt {
    text-align: justify;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
    .icon {
        max-width: 150px;
    }
    h2 {
        font-size: 1.7em;
    }
}