.icon-bar {
    background: #ffffff;
    
}

.navbar {
    margin-bottom: 0;
    border-radius:0;
    background: #5E4485;
    color: #FFFFFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}
.navbar-brand {
    position: relative;
    top: -18px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background: #5E4485;
    
}
.navbar-inverse .navbar-nav li:first-child {
    color: #d5d5d5;
}
.navbar-inverse .navbar-nav li a {
color: #d5d5d5;
    
}

.carousel-caption {
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
}

.btn {
    font-size: 18px;
    color: #FFFFFF;
    padding: 12px 22px;
    background: #5E4485;
    border-radius: 4px;
    border: 2px solid #FFFFFF;
}
.icon {
    max-width: 200px;
    margin: 1% auto;
}
.sign-responsive {
    max-width: 250px;
    margin: auto;
}
.container {
    margin: 6% auto;
}

.heading-bootstrap{
    font-size: 18px;
    font-weight: 600;
}

.bootstrap-txt {
    text-align: justify;
}
.link a {
    text-decoration: none;
    font-weight: 600;
}
footer {
    width: 100%;
    background: #5E4485;
    padding: 3%;
    color: #FFFFFF;
}
.contact-us {
    margin-bottom: 20px;
}
.learn-more {
    text-align: center;
}
.fa {
    padding: 14px;
    font-size: 24px;
    color: #FFFFFF;
}
.fa:hover {
    text-decoration: none;
    color: #D5D5D5;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
    .icon {
        max-width: 150px;
    }
    h2 {
        font-size: 1.7em;
    }
}
@media (max-width: 694px) {
    .carousel-caption {
        top: 36%;
    }
}
@media (max-width: 813px) {
    .carousel-caption {
        top: 42%;
    }
}
@media (max-width: 900px) {
    .fa {
        font-size:20px;
        padding: 10px;
    }
}
